@font-face {
    font-family: 'Poppins-Black';
    src: url('./assets/Poppins-Black.ttf') format('truetype');
    font-weight: 400;
}

body {
    overflow: hidden;
    height: 100vh;
    padding: 0;
    background: linear-gradient(180deg, #b2b4c0 0%, #6d7081 100%);
}



.container-principal {
    display: flex;
    justify-content: center;
    align-content: center;
}


.retangulo {
    z-index: 10;
    width: 80rem;
    height: 38rem;
    margin-top: 12rem;
    padding: 60px;
    justify-content: center;
    border-radius: 24px;
    background: linear-gradient(73deg, rgb(74 74 74 / 0%) 3.44%, rgba(255, 255, 255, 0.04) 64.82%);
    backdrop-filter: blur(15px);
    box-shadow: -10px 15px 74px 20px #00000045;
}

nav {
    display: flex;
    font-family: 'Poppins';
    justify-content: center;
    margin-bottom: 20px;
}

nav li {
    display: inline;
    margin: 0px 20px 0 20px;
}

nav a {
    text-transform: uppercase;
    color: #F9FAFB;
    font-size: 20px;
    text-decoration: none;
}


.conteudo-retangulo {
    display: flex;
    font-family: 'Poppins';
    visibility: hidden;
    position: absolute;
    align-items: center;
}

.textos {
    padding-left: 1rem;
    color: #F9FAFB;
}

.texto1 {
    font-size: 63px;
    line-height: 61px;
    width: 43rem;
    
}

.texto2 {
    font-size: 20px;
    line-height: 26px;
    width: 34rem;
    
}

.cor1 {
    background: linear-gradient(73deg, rgb(255 255 255 / 99%) -26.56%, rgb(75 0 255) 64.82%);
    color: black;
    background-clip: text;
    -webkit-background-clip: text;


    -webkit-text-fill-color: transparent;

}


.cor2 {
    background: linear-gradient(73deg, rgba(255, 0, 123, 0.994) 3.44%, rgb(255, 115, 0) 64.82%);
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.conhecimentos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
   color: #F9FAFB;
}

.conhecimentos img {
    width: 4rem;
    flex: 0 0 27%;
    margin: 5%;
}

.quadrados {
    height: 9rem;
    width: 11rem;
    padding: 2px;
    border-radius: 10px;
    background: #d9d9d914;
    margin-bottom: 20px;
}


.botao {
    display: flex;
    height: 3rem;
    width: 10rem;
    padding: 2px;
    justify-content: center;
    border-radius: 10px;
    background: linear-gradient(73deg, rgb(255 118 0 / 99%) 3.44%, rgb(255 0 224 / 45%) 64.82%);
    align-items: center;
}

.linkedin {
    font-family: 'Poppins';
    font-size: 19px;
    color: #F9FAFB;
    text-decoration: none;
}

.img-principal {
    width: 41rem;
    position: absolute;
    left: 41rem;
    
}

.primeiro-circulo {
    position: absolute;
    width: 723.06px;
    height: 723.06px;
     right: -4rem;
    top: -551.06px;
    z-index: 0;
    background: linear-gradient(180deg, rgba(0, 194, 255, 0) 0%, #ffffff 100%);
    opacity: 0.8;
    filter: blur(100px);
}

.primeirobranco-circulo {
    position: absolute;
    width: 479.06px;
    height: 723.06px;
    right: -19rem;
    bottom: -19rem;
    z-index: 0;
    background: linear-gradient(180deg, rgba(0, 194, 255, 0) 0%, #ffffff4f 100%);
    opacity: 0.8;
    filter: blur(100px);
}

.segundo-circulo {
    position: absolute;
    width: 66%;
    height: 579px;
    left: -80rem;
    bottom: -111px;
    z-index: 0;
    background: linear-gradient(180deg, rgba(0, 194, 255, 0) 0%, #000000 100%);
    opacity: 0.6;
    filter: blur(100px);
}

.segundo1-circulo {
    position: absolute;
    width: 66%;
    height: 579px;
    left: -80rem;
    bottom: -111px;
    z-index: 0;
    background: linear-gradient(180deg, rgba(0, 194, 255, 0) 0%, #000000 100%);
    opacity: 0.6;
    filter: blur(100px);
}

.terceiro-circulo {
    position: absolute;
    width: 22%;
    height: 34rem;
    right: -24rem;
    top: 10rem;
    z-index: 0;
    background: linear-gradient(180deg, rgba(0, 194, 255, 0) 0%, #000000 100%);
    opacity: 0.6;
    filter: blur(100px);
}

.back-circulo {
    position: absolute;
    width: 22%;
    height: 34rem;
    right: 10%;
    top: 11rem;
    z-index: 0;
    background: linear-gradient(180deg, rgba(0, 194, 255, 0) 0%, #030016 100%);
    opacity: 0.6;
    filter: blur(100px);
}

.back2-circulo {
    left: 10%;
    position: absolute;
    width: 19%;
    height: 34rem;
    top: 15rem;
    z-index: 0;
    background: linear-gradient(180deg, rgba(0, 194, 255, 0) 0%, #030016a1 100%);
    opacity: 0.6;
    filter: blur(100px);
}

.back3-circulo {
    left: 26%;
    position: absolute;
    width: 19%;
    height: 32rem;
    top: -15rem;
    z-index: 0;
    background: linear-gradient(180deg, rgba(0, 194, 255, 0) 0%, #03001685 100%);
    opacity: 0.6;
    filter: blur(100px);
}

.back4-circulo {
    right: 41%;
    position: absolute;
    width: 19%;
    height: 32rem;
    top: -15rem;
    z-index: 0;
    background: linear-gradient(180deg, rgba(0, 194, 255, 0) 0%, #03001685 100%);
    opacity: 0.6;
    filter: blur(100px);
}

/* .back5-circulo {
    right: 38%;
    position: absolute;
    width: 25%;
    height: 32rem;
    bottom: -6rem;
    z-index: 0;
    background: linear-gradient(181deg, #161922 0%, #030016 100%);
    opacity: 0.6;
    filter: blur(100px);
} */

.active{
    visibility: visible;
}

/* .logos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
} */


